
body {
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
    letter-spacing: -0.01em;
}
.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
}

.slot {
    width: 85px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.slot:hover { transform: scale(1.05); }

.slot.free { background-color: #e8f5e9; color: #2e7d32; border: 1px solid #c8e6c9; }
.slot.occupied { background-color: #ffebee; color: #c62828; border: 1px solid #ffcdd2; font-size: 1.2rem;}
.slot.free-elec { background-color: #e3f2fd; color: #1565c0; border: 1px solid #bbdefb; }
.slot.occupied-elec { background-color: #e3f2fd; color: #1565c0; border: 2px solid #1565c0; font-size: 1.2rem;}
.slot.free-pmr { background-color: #f3e5f5; color: #7b1fa2; border: 1px solid #e1bee7; font-size: 1.2rem;}

.icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.badge {
    border-radius: 20px;
    font-weight: 600;
}

.divider-parking {
    letter-spacing: 2px;
    font-weight: 800;
}

.btn-check:checked + .btn-outline-primary {
    background-color: #ebf4ff !important;
    border-width: 2px;
    color: #0d6efd;
}

.sidebar {
    width: 260px;
 border-right: 2px solid #d6dbdf;
    min-height: 100vh;
    /*box-shadow: 4px 0 20px rgba(0,0,0,0.3);*/
}

.sidebar-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d6dbdf;
    font-size: 1.5rem;
}

/* Navigation */
.nav-link {
    color: #9ca3af;
    padding: 12px 16px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.3s ease;
}

.nav-link i {
    font-size: 1.1rem;
}

.nav-link:hover {
    background-color: #f5f5f5;
    color: #0d6efd;
}

.nav-link.active {
    background-color: #0d6efd;
    color: white;
    box-shadow: 0 5px 15px rgba(13,110,253,0.4);
}

