body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
  
}

.slot {
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.free {
    background: #2e7d32;
    color: white;
}

.occupied {
    background: #c62828;
    color: white;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}
